/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #264c93, #7b168f);
    color: #eee2e2;
}

.container {
    text-align: center;
    background-color: #67e1e837;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 20px 49px rgba(15, 3, 3, 0.6);
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 467;
    color: #0f0146;
}

#status {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 524;
    color: #070707;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

.cell {
    width: 95px;
    height: 90px;
    background-color: #f7f9fc;
    border-radius: 28px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cell:hover {
    background-color: #e3e9f2;
    transform: scale(1.05);
}

.cell.X {
    color: #14ca82;
}

.cell.O {
    color: #fa1212;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
    background-color: #4b79a1;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0c0;

}

